.header {
  height: 72px;
  max-width: 1920px;
  margin: 0 auto;
  position: sticky;
  top: 0;
  z-index: 100;
  transition: background-color 0.3s ease-in-out;
  transform: translateZ(0);
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  background: white;

  .hidden {
    display: none;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 60px;

    .logo {
      display: flex;
      align-items: center;
      gap: 10px;

      img[src='/logoMobile.svg'] {
        display: none;
      }

      .logoLinks {
        display: flex;
        align-items: center;
        max-height: 40px;
        font-size: 18px;

        & a {
          display: flex;
          align-items: center;
          border-radius: 72px;
          padding: 9.5px 14.5px;

          text-transform: capitalize;
          border: 1px solid rgba(7, 116, 83, 0.2);
          font-weight: 700;
          color: #077453;
          text-decoration: none;

          &:last-child {
            font-weight: 400;
            color: #517185;
            border: none;
          }
        }
      }
    }

    .settings {
      display: flex;
      align-items: center;
      gap: 8px;

      .lang {
        height: 100%;
        display: flex;
        align-items: center;
        gap: 8px;
      }

      .auth,
      .authOpen {
        height: 100%;
        display: flex;
        align-items: center;
        gap: 8px;
        transition: all 0.3s ease-in-out;

        .login,
        .getStarted {
          display: flex;
          align-items: center;
          text-decoration: none;
          height: 38px;
          border-radius: 100px;
          border: 1px solid rgba(7, 116, 83, 0.2);
          color: #077453;
          text-align: center;
          font-size: 18px;
          font-weight: 700;
          line-height: 27px;
          padding: 0 24px;
          transition: all 0.3s ease-in-out;

          &:hover {
            background-color: #ccffd3;
            border-color: #ccffd3;
          }

          img[alt='arrow-to-login'] {
            display: none;
          }
        }

        .getStarted {
          background-color: #077453;
          color: white;

          &:hover {
            background: #1f8264;
            border-color: #1f8264;
          }
        }
      }
    }

    .burger,
    .burgerOpen {
      display: none;
      width: 50px;
      min-width: 50px;
      height: 50px;
      position: relative;
      transform: rotate(0deg);
      transition: 0.5s ease-in-out;
      cursor: pointer;
      z-index: 11;
      overflow: hidden;
      border-radius: 12.5px;
      background: rgba(129, 158, 176, 0.2);
      border: none;

      & span {
        position: absolute;
        top: 15px;
        left: 10px;
        width: calc(100% - 20px);
        height: 3.1px;
        background: #517185;
        border-radius: 9px 0 0 9px;
        transition: all 0.3s ease-in-out;
      }

      & span:nth-child(2) {
        top: 23px;
      }

      & span:nth-child(3) {
        top: 31.25px;
      }
    }

    .burgerOpen {
      & span {
        top: 45%;
        rotate: 45deg;
      }

      & span:nth-child(2) {
        width: 0;
      }

      & span:nth-child(3) {
        top: 45%;
        rotate: -45deg;
      }
    }
  }
}

@media (max-width: 1536px) {
  .header {
    .container {
      padding: 0 32px;
    }
  }
}

@media (max-width: 1279px) {
  .header .container {
    padding: 0 40px;

    .logo {
      gap: 27px;
      width: 100%;
      justify-content: space-between;

      .logoLinks {
        width: 100%;
        justify-content: center;
      }
    }

    .settings {
      .auth,
      .authOpen {
        position: absolute;
        top: calc(100vh - 148px);
        left: -200vw;
        width: 90%;
        max-width: 680px;
        height: fit-content;
        flex-direction: column;
        z-index: 2;

        a {
          justify-content: center;
          width: calc(100% - 48px);
        }

        .login {
          position: relative;
          background: #077453;
          color: white;
          height: 54px;

          img[alt='arrow-to-login'] {
            display: block;
            position: absolute;
            right: 3px;
            top: 3px;
          }
        }

        .getStarted {
          background: white;
          color: #077453;
          border: 1px solid #077453;
          height: 54px;
        }
      }

      .authOpen {
        left: 50%;
        translate: -50%;
      }
    }

    .burger,
    .burgerOpen {
      display: block;
      margin-left: 12px;
    }
  }
}

@media (max-width: 767px) {
  .header {
    height: 54px;

    .container {
      padding: 0 16px;

      .logo {
        justify-content: space-between;

        a[href='/']:first-of-type {
          display: none;
          width: 30px;
          height: 30px;
          background-color: red;

          img[src='/logo.svg'] {
            display: none;
          }
        }

        img[src='/logoMobile.svg'] {
          display: block;
        }

        .logoLinks {
          max-height: 33px;

          a {
            padding: 8px 14px;
            font-size: 14px;
          }
        }
      }

      .settings .auth {
        .login {
          height: 46px;

          img[alt='arrow-to-login'] {
            height: 40px;
            width: 40px;
          }
        }

        .getStarted {
          height: 46px;
        }
      }

      .burger,
      .burgerOpen {
        padding: 0;
        min-width: 32px;
        width: 32px;
        height: 32px;
        border-radius: 8px;

        span {
          width: 18px;
          height: 2px;
          top: 10px;
          left: 7px;
        }

        & span:nth-child(2) {
          top: 15px;
        }

        & span:nth-child(3) {
          top: 20px;
        }
      }

      .burgerOpen {
        & span:nth-child(1) {
          top: 15px;
        }

        & span:nth-child(3) {
          top: 15px;
        }
      }
    }
  }
}
