.contentSection {
  display: flex;
  gap: 56px;
  margin: 39px auto 109px;
  width: 100%;
  max-width: 1400px;

  .asideLeft {
    position: sticky;
    top: 140px;
    width: 321px;
    height: fit-content;
    flex-shrink: 0;
    max-width: 321px;

    p {
      font-size: 24px;
      font-weight: 700;
      line-height: 32px;
      margin-bottom: 16px;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 16px;

      a {
        display: block;
        color: #517185;
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        transform: translateX(0px);
        transition: all 0.2s ease 0s;
        text-decoration: none;
      }

      a.active {
        border-left: 2px solid rgb(7, 116, 83);
        color: #077453;
        font-weight: 700;
        padding-left: 10px;
      }
    }
  }

  .center {
    h2 {
      color: #2d3439;
      font-size: 32px;
      font-weight: 700;
      line-height: 42px;
      margin-bottom: 16px;
    }

    p {
      margin-bottom: 16px;
      font-size: 18px;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: 0em;
    }
  }

  .asideRight {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 320px;
    flex-shrink: 0;

    .asideItem {
      width: 100%;
      max-width: 320px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      background: rgb(244, 245, 250);
      padding: 0.5rem 1rem;
      border-radius: 1rem;

      p {
        font-weight: 700;
        font-size: 18px;
        line-height: 26px;
      }

      span {
        color: rgb(81, 113, 133);
        font-size: 18px;
        font-weight: 400;
        line-height: 26px;
      }
    }
  }
}

@media (max-width: 1536px) {
  .contentSection {
    max-width: 1216px;
    gap: 24px;

    .asideLeft,
    .asideRight {
      width: 286px;
    }
  }
}

@media (max-width: 1279px) {
  .contentSection {
    flex-direction: column;
    max-width: 767px;

    .asideLeft {
      display: none;
    }

    .asideRight {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 100%;
      gap: 8px;

      .asideItem {
        max-width: none;
        width: auto;
      }
    }
  }
}

@media (max-width: 767px) {
  .contentSection {
    padding: 0 32px;

    .asideRight {
      display: flex;
    }
  }
}
