.headingSection {
  padding: 54px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #bfffc8;
  overflow: hidden;

  img[alt='left-decor'] {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  & img[alt='right-decor'] {
    position: absolute;
    right: 0px;
    bottom: 0;
  }

  a {
    display: flex;
    justify-content: space-between;
    gap: 6px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 60px;
    padding: 12px 24px;
    text-decoration: none;
    background: #fff;
    border-radius: 42px;
    border: 1px solid #f4f5fa;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    color: #517185;

    & img {
      margin: auto 0;
      rotate: 90deg;
    }
  }

  h1 {
    text-align: center;
    font-size: 56px;
    font-weight: 400;
    line-height: 62px;
    letter-spacing: 0em;
    max-width: 678px;
    margin: 0px auto 16px;
  }

  .postInfo {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    align-items: center;
    color: #517185;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
  }
}

@media (max-width: 1536px) {
  .headingSection {
    h1 {
      margin-bottom: 14px;
    }

    img[alt='left-decor'] {
      transform: translateX(-43%);
    }
    img[alt='right-decor'] {
      transform: translateX(43%);
    }
  }
}

@media (max-width: 1279px) {
  .headingSection {
    a {
      position: relative;
      left: 0;
      top: 11px;
      padding: 9px 24px;
    }

    img[alt='left-decor'],
    img[alt='right-decor'] {
      display: none;
    }
  }
}

@media (max-width: 767px) {
  .headingSection {
    h1 {
      padding: 0 16px;
      font-size: 40px;
      font-weight: 400;
      line-height: 46px;
      letter-spacing: -0.1px;
      max-width: 100%;
    }
  }
}
